schemes:
  - https
swagger: "2.0"
info:
  description: "VectorChat API. Authentication: first request a token via POST
    /public/oauth/token (see
    http://localhost:4456/#tag/apikey/POST/public/oauth/token), then use
    'Authorize' with Bearer <token>."
  title: VectorChat API
  contact: {}
  version: "1.0"
host: api.vectorchat.rke2.devs-group.com
basePath: /
paths:
  /agent/sessions/{sessionID}/approve:
    post:
      security:
        - BearerAuth: []
      description: Submit an approval decision for a tool call
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - agent
      summary: Approve or deny a tool call
      parameters:
        - type: string
          description: Session ID
          name: sessionID
          in: path
          required: true
        - type: string
          description: Approval ID
          name: approval_id
          in: query
          required: true
        - description: Decision
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.AgentApprova\
              lDecisionRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /agent/sessions/{sessionID}/compact:
    post:
      security:
        - BearerAuth: []
      description: Compact the session context
      produces:
        - application/json
      tags:
        - agent
      summary: Compact agent session
      parameters:
        - type: string
          description: Session ID
          name: sessionID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /agent/sessions/{sessionID}/events:
    get:
      security:
        - BearerAuth: []
      description: Stream agent status events for a session
      produces:
        - text/event-stream
      tags:
        - agent
      summary: Stream agent events
      parameters:
        - type: string
          description: Session ID
          name: sessionID
          in: path
          required: true
      responses:
        "200":
          description: Streamed events
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /agent/sessions/{sessionID}/interrupt:
    post:
      security:
        - BearerAuth: []
      description: Interrupt a running agent session
      produces:
        - application/json
      tags:
        - agent
      summary: Interrupt agent session
      parameters:
        - type: string
          description: Session ID
          name: sessionID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /agent/sessions/{sessionID}/review:
    post:
      security:
        - BearerAuth: []
      description: Trigger a review pass for the agent session
      produces:
        - application/json
      tags:
        - agent
      summary: Review agent session
      parameters:
        - type: string
          description: Session ID
          name: sessionID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /agent/sessions/{sessionID}/undo:
    post:
      security:
        - BearerAuth: []
      description: Undo the latest agent action
      produces:
        - application/json
      tags:
        - agent
      summary: Undo last agent step
      parameters:
        - type: string
          description: Session ID
          name: sessionID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /agent/{chatbotID}/sessions:
    post:
      security:
        - BearerAuth: []
      description: Start or continue an agent session for a chatbot
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - agent
      summary: Start an agent session
      parameters:
        - type: string
          description: Chatbot ID
          name: chatbotID
          in: path
          required: true
        - description: Agent start request
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.AgentStartRe\
              quest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.AgentStartRe\
              sponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /api/chatbots/import:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Agents
      summary: Import agent configuration
      parameters:
        - description: Agent export data
          name: agent
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.AgentImportR\
              equest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.AgentImportR\
              esponse"
  /api/chatbots/{chatbotId}/conversations:
    post:
      description: Create new conversation session for chatbot
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - conversations
      summary: Create conversation
      parameters:
        - type: string
          description: Chatbot ID
          name: chatbotId
          in: path
          required: true
        - description: Optional initial message
          name: request
          in: body
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CreateConver\
              sationRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Conversation"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /api/chatbots/{id}/export:
    get:
      produces:
        - application/json
      tags:
        - Agents
      summary: Export agent configuration
      parameters:
        - type: string
          description: Chatbot ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.AgentExport"
  /api/collections:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Collections
      summary: Create collection
      parameters:
        - description: Collection payload
          name: collection
          in: body
          required: true
          schema:
            $ref: "#/definitions/internal_api.CreateCollectionRequest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_internal_db.Collection"
  /api/collections/{id}:
    get:
      produces:
        - application/json
      tags:
        - Collections
      summary: Get collection
      parameters:
        - type: string
          description: Collection ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_internal_db.Collection"
    put:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Collections
      summary: Update collection
      parameters:
        - type: string
          description: Collection ID
          name: id
          in: path
          required: true
        - description: Collection updates
          name: collection
          in: body
          required: true
          schema:
            $ref: "#/definitions/internal_api.UpdateCollectionRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_internal_db.Collection"
    delete:
      tags:
        - Collections
      summary: Delete collection
      parameters:
        - type: string
          description: Collection ID
          name: id
          in: path
          required: true
      responses:
        "204":
          description: No Content
  /api/collections/{id}/records:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Collections
      summary: Import records (replaces all existing)
      parameters:
        - type: string
          description: Collection ID
          name: id
          in: path
          required: true
        - description: Records to import
          name: records
          in: body
          required: true
          schema:
            $ref: "#/definitions/internal_api.ImportRecordsRequest"
      responses:
        "200":
          description: OK
          schema:
            type: object
            additionalProperties:
              type: integer
  /api/collections/{id}/records/export:
    get:
      produces:
        - application/json
        - text/csv
      tags:
        - Collections
      summary: Export records as JSON or CSV
      parameters:
        - type: string
          description: Collection ID
          name: id
          in: path
          required: true
        - type: string
          default: json
          description: "Export format: json or csv"
          name: format
          in: query
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              type: object
              additionalProperties: true
  /api/conversations:
    get:
      description: Get paginated list of conversations for authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - conversations
      summary: List conversations
      parameters:
        - type: string
          description: Filter by chatbot ID
          name: chatbot_id
          in: query
        - type: integer
          description: Max results (default 50, max 100)
          name: limit
          in: query
        - type: integer
          description: Pagination offset (default 0)
          name: offset
          in: query
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Conversation\
              ListResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /api/conversations/{sessionId}:
    get:
      description: Get conversation with full message history
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - conversations
      summary: Get conversation details
      parameters:
        - type: string
          description: Session ID
          name: sessionId
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Conversation\
              Detail"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    delete:
      description: Soft delete conversation
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - conversations
      summary: Delete conversation
      parameters:
        - type: string
          description: Session ID
          name: sessionId
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /api/conversations/{sessionId}/rename:
    post:
      description: Update conversation title
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - conversations
      summary: Rename conversation
      parameters:
        - type: string
          description: Session ID
          name: sessionId
          in: path
          required: true
        - description: New title
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.RenameConver\
              sationRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Conversation\
              UpdateResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /api/skills:
    get:
      produces:
        - application/json
      tags:
        - Skills
      summary: List skills
      parameters:
        - type: integer
          description: Limit
          name: limit
          in: query
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Skill"
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Skills
      summary: Create skill
      parameters:
        - description: Skill payload
          name: skill
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CreateSkillR\
              equest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Skill"
  /api/skills/generate:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Skills
      summary: Generate skill content from description (no persistence)
      parameters:
        - description: Description payload
          name: payload
          in: body
          required: true
          schema:
            type: object
            additionalProperties:
              type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SkillDraft"
  /api/skills/{id}:
    get:
      produces:
        - application/json
      tags:
        - Skills
      summary: Get skill
      parameters:
        - type: string
          description: Skill ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Skill"
    put:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - Skills
      summary: Update skill
      parameters:
        - type: string
          description: Skill ID
          name: id
          in: path
          required: true
        - description: Skill payload
          name: skill
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UpdateSkillR\
              equest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.Skill"
    delete:
      tags:
        - Skills
      summary: Delete skill
      parameters:
        - type: string
          description: Skill ID
          name: id
          in: path
          required: true
      responses:
        "204":
          description: No Content
  /api/skills/{skillId}/mcp-servers:
    get:
      produces:
        - application/json
      tags:
        - MCP Servers
      summary: List MCP servers for a skill
      parameters:
        - type: string
          description: Skill ID
          name: skillId
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MCPServerRes\
                ponse"
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - MCP Servers
      summary: Create MCP server
      parameters:
        - type: string
          description: Skill ID
          name: skillId
          in: path
          required: true
        - description: MCP server payload
          name: server
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CreateMCPSer\
              verRequest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MCPServerRes\
              ponse"
  /api/skills/{skillId}/mcp-servers/test:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - MCP Servers
      summary: Test MCP server connection
      parameters:
        - type: string
          description: Skill ID
          name: skillId
          in: path
          required: true
        - description: Test connection payload
          name: server
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.TestMCPServe\
              rRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.TestMCPServe\
              rResponse"
  /api/skills/{skillId}/mcp-servers/{id}:
    put:
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - MCP Servers
      summary: Update MCP server
      parameters:
        - type: string
          description: Skill ID
          name: skillId
          in: path
          required: true
        - type: string
          description: MCP Server ID
          name: id
          in: path
          required: true
        - description: MCP server payload
          name: server
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UpdateMCPSer\
              verRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MCPServerRes\
              ponse"
    delete:
      tags:
        - MCP Servers
      summary: Delete MCP server
      parameters:
        - type: string
          description: Skill ID
          name: skillId
          in: path
          required: true
        - type: string
          description: MCP Server ID
          name: id
          in: path
          required: true
      responses:
        "204":
          description: No Content
  /api/supported-extensions:
    get:
      produces:
        - application/json
      tags:
        - uploads
      summary: Get supported file extensions
      responses:
        "200":
          description: OK
          schema:
            type: object
            additionalProperties: true
  /api/tools/catalog:
    get:
      produces:
        - application/json
      tags:
        - Tools
      summary: List tool catalog
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ToolCatalogE\
                ntry"
  /auth/apikey:
    get:
      security:
        - BearerAuth: []
      description: Lists OAuth clients created by the authenticated user with
        pagination support
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - apiKey
      summary: List OAuth clients
      parameters:
        - type: integer
          description: "Page number (default: 1)"
          name: page
          in: query
        - type: integer
          description: "Items per page (default: 10, max: 100)"
          name: limit
          in: query
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIKeysListR\
              esponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    post:
      security:
        - BearerAuth: []
      description: Creates a new machine-to-machine OAuth client via Ory Hydra for the
        authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - apiKey
      summary: Provision OAuth client
      parameters:
        - description: API Key Details
          name: apiKey
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIKeyCreate\
              Request"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIKeyCreate\
              Response"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /auth/apikey/{id}:
    delete:
      security:
        - BearerAuth: []
      description: Revokes an OAuth client for the authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - apiKey
      summary: Revoke OAuth client
      parameters:
        - type: string
          description: API key ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /auth/logout:
    post:
      description: Terminates the active Kratos session and clears the browser cookie
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - auth
      summary: Logout
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /auth/session:
    get:
      description: Returns information about the authenticated user bound to the request
      produces:
        - application/json
      tags:
        - auth
      summary: Get current session
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SessionRespo\
              nse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/chatbot:
    post:
      security:
        - BearerAuth: []
      description: Create a new chatbot with specified configuration
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Create a new chatbot
      parameters:
        - description: Chatbot configuration
          name: chatbot
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotCreat\
              eRequest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/chatbot/{chatID}:
    delete:
      security:
        - BearerAuth: []
      description: Delete a chatbot by ID
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chatbot
      summary: Delete chatbot
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/chatbot/{chatID}/skills:
    get:
      security:
        - BearerAuth: []
      description: Get summaries of skills assigned to a chatbot
      produces:
        - application/json
      tags:
        - chat
      summary: List chatbot skills
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotSkill\
              sResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/chatbot/{chatID}/toggle:
    patch:
      security:
        - BearerAuth: []
      description: Enable or disable a chatbot
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chatbot
      summary: Toggle chatbot enabled state
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
        - description: Toggle request
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotToggl\
              eRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/chatbot/{chatbotID}:
    get:
      security:
        - BearerAuth: []
      description: Get details of a specific chatbot by ID
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Get chatbot by ID
      parameters:
        - type: string
          description: Chatbot ID
          name: chatbotID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    put:
      security:
        - BearerAuth: []
      description: Update chatbot configuration including name, description, system
        instructions, model settings
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Update chatbot
      parameters:
        - type: string
          description: Chatbot ID
          name: chatbotID
          in: path
          required: true
        - description: Updated chatbot configuration
          name: chatbot
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotUpdat\
              eRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/chatbots:
    get:
      security:
        - BearerAuth: []
      description: Get a list of all chatbots owned by the current user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Get list of chatbots
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatbotsList\
                Response"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/system-prompt/generate:
    post:
      security:
        - BearerAuth: []
      description: Generate a tailored system prompt from a short purpose and tone
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Generate a system prompt
      parameters:
        - description: Prompt generation request
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SystemPrompt\
              GenerateRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SystemPrompt\
              GenerateResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/crawl:
    post:
      security:
        - BearerAuth: []
      description: Unified endpoint to crawl a website once or create a recurring schedule.
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Crawl website
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - description: Crawl request with URL and frequency
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlRequest"
      responses:
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/crawl-now:
    post:
      security:
        - BearerAuth: []
      description: Enqueue a single crawl job for this chatbot knowledge base using
        the provided URL.
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Crawl once now
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - description: Website URL
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.WebsiteUploa\
              dRequest"
      responses:
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/crawl-schedules:
    get:
      security:
        - BearerAuth: []
      description: List all crawl schedules for a chatbot knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: List crawl schedules
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eListResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    put:
      security:
        - BearerAuth: []
      description: Create or update a crawl schedule for a chatbot knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Upsert crawl schedule
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - description: Schedule payload
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/crawl-schedules/{scheduleID}:
    delete:
      security:
        - BearerAuth: []
      description: Delete a crawl schedule for a chatbot knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Delete crawl schedule
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - type: string
          description: Schedule ID (UUID)
          name: scheduleID
          in: path
          required: true
      responses:
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/files:
    get:
      security:
        - BearerAuth: []
      description: List all files in a chat session
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: List chat files
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatFilesRes\
              ponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/files/{filename}:
    delete:
      security:
        - BearerAuth: []
      description: Delete a file from a chat session
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Delete chat file
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - type: string
          description: File name
          name: filename
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/memories:
    get:
      description: Get all memories for the current user and specified chatbot
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - memories
      summary: List user memories
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UserMemories\
              ListResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    post:
      description: Create a new memory for the current user and specified chatbot
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - memories
      summary: Create memory
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
        - description: Memory data
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UserMemoryCr\
              eateRequest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UserMemoryRe\
              sponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    delete:
      description: Delete all memories for the current user and specified chatbot
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - memories
      summary: Clear all memories
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/memories/{memoryID}:
    get:
      description: Get a single memory by ID
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - memories
      summary: Get memory
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
        - type: string
          description: Memory ID
          name: memoryID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UserMemoryRe\
              sponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    put:
      description: Update an existing memory
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - memories
      summary: Update memory
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
        - type: string
          description: Memory ID
          name: memoryID
          in: path
          required: true
        - description: Memory data
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UserMemoryUp\
              dateRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UserMemoryRe\
              sponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    delete:
      description: Delete a single memory by ID
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - memories
      summary: Delete memory
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
        - type: string
          description: Memory ID
          name: memoryID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/message:
    post:
      security:
        - BearerAuth: []
      description: Send a message and get a response with context from uploaded files
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Send chat message
      parameters:
        - description: Chat message
          name: message
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatMessageR\
              equest"
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/stream-message:
    post:
      security:
        - BearerAuth: []
      description: Send a message and receive a streamed response with context from
        uploaded files
      consumes:
        - application/json
      produces:
        - text/event-stream
      tags:
        - chat
      summary: Stream chat message
      parameters:
        - description: Chat message
          name: message
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ChatMessageR\
              equest"
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: Streamed response
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/text:
    get:
      security:
        - BearerAuth: []
      description: List text sources indexed for a chat session
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: List text sources
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.TextSourcesR\
              esponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    post:
      security:
        - BearerAuth: []
      description: Upload plain text to be indexed for chat context
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Upload plain text
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - description: Text payload
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.TextUploadRe\
              quest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/text/{id}:
    delete:
      security:
        - BearerAuth: []
      description: Delete a text source and its associated chunks
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Delete text source
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - type: string
          description: Text source ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/upload:
    post:
      security:
        - BearerAuth: []
      description: Upload a file to be used for chat context
      consumes:
        - multipart/form-data
      produces:
        - application/json
      tags:
        - chat
      summary: Upload file
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - type: file
          description: File to upload
          name: file
          in: formData
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.FileUploadRe\
              sponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/website:
    post:
      security:
        - BearerAuth: []
      description: Crawl a website from a root URL and index its text content
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - chat
      summary: Add website
      parameters:
        - type: string
          description: Chat session ID
          name: chatID
          in: path
          required: true
        - description: Website URL
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.WebsiteUploa\
              dRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /chat/{chatID}/widget:
    get:
      security:
        - BearerAuth: []
      produces:
        - application/json
      tags:
        - widget
      summary: Get widget settings for a chatbot
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.WidgetSettin\
              gsResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    put:
      security:
        - BearerAuth: []
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - widget
      summary: Update widget settings for a chatbot
      parameters:
        - type: string
          description: Chatbot ID
          name: chatID
          in: path
          required: true
        - description: Widget settings
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.WidgetSettin\
              gsUpdateRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.WidgetSettin\
              gsResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /executions/{id}:
    get:
      security:
        - BearerAuth: []
      description: Get an execution by ID
      produces:
        - application/json
      tags:
        - executions
      summary: Get an execution
      parameters:
        - type: string
          description: Execution ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ExecutionRes\
              ponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /executions/{id}/approve:
    post:
      security:
        - BearerAuth: []
      description: Approve a pending execution
      tags:
        - executions
      summary: Approve an execution
      parameters:
        - type: string
          description: Execution ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /executions/{id}/reject:
    post:
      security:
        - BearerAuth: []
      description: Reject a pending execution
      tags:
        - executions
      summary: Reject an execution
      parameters:
        - type: string
          description: Execution ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /health:
    get:
      security:
        - BearerAuth: []
      description: Check if the API is running
      consumes:
        - application/json
      produces:
        - text/plain
      tags:
        - health
      summary: Health check endpoint
      responses:
        "200":
          description: VectorChat API is running
          schema:
            type: string
  /knowledge-bases:
    get:
      security:
        - BearerAuth: []
      description: Retrieve all shared knowledge bases owned by the authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: List shared knowledge bases
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseListResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    post:
      security:
        - BearerAuth: []
      description: Create a new shared knowledge base for the authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Create shared knowledge base
      parameters:
        - description: Knowledge base payload
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseCreateRequest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}:
    get:
      security:
        - BearerAuth: []
      description: Fetch a shared knowledge base by ID for the authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Get shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    put:
      security:
        - BearerAuth: []
      description: Update the details of a shared knowledge base owned by the
        authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Update shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - description: Knowledge base updates
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseUpdateRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    delete:
      security:
        - BearerAuth: []
      description: Delete a shared knowledge base owned by the authenticated user
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Delete shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
      responses:
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/crawl:
    post:
      security:
        - BearerAuth: []
      description: Unified endpoint to crawl a website once or create a recurring schedule.
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Crawl website
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - description: Crawl request with URL and frequency
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlRequest"
      responses:
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/crawl-now:
    post:
      security:
        - BearerAuth: []
      description: Enqueue a single crawl job for this shared knowledge base.
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Crawl once now
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - description: Website URL
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.WebsiteUploa\
              dRequest"
      responses:
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/crawl-schedules:
    get:
      security:
        - BearerAuth: []
      description: List crawl schedules for a shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: List crawl schedules
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eListResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    put:
      security:
        - BearerAuth: []
      description: Create or update a crawl schedule for a shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Upsert crawl schedule
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - description: Schedule payload
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CrawlSchedul\
              eResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/crawl-schedules/{scheduleID}:
    delete:
      security:
        - BearerAuth: []
      description: Delete a crawl schedule for a shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Delete crawl schedule
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - type: string
          description: Schedule ID (UUID)
          name: scheduleID
          in: path
          required: true
      responses:
        "204":
          description: No Content
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/files:
    get:
      security:
        - BearerAuth: []
      description: List non-text files associated with the shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: List files in shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseFilesResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/files/{filename}:
    delete:
      security:
        - BearerAuth: []
      description: Delete a specific file associated with the shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Delete file from shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - type: string
          description: Filename
          name: filename
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/text:
    get:
      security:
        - BearerAuth: []
      description: List indexed text sources associated with the shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: List text sources in shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseTextSourcesResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    post:
      security:
        - BearerAuth: []
      description: Upload plain text content to be indexed for the shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Upload text to shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - description: Text payload
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.TextUploadRe\
              quest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/text/{sourceId}:
    delete:
      security:
        - BearerAuth: []
      description: Delete a text source previously indexed for the shared knowledge base
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Delete text source from shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - type: string
          description: Text source ID (UUID)
          name: sourceId
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/upload:
    post:
      security:
        - BearerAuth: []
      description: Upload a file to be processed into the shared knowledge base
      consumes:
        - multipart/form-data
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Upload file to shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - type: file
          description: File to upload
          name: file
          in: formData
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.SharedKnowle\
              dgeBaseFileUploadResponse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /knowledge-bases/{id}/website:
    post:
      security:
        - BearerAuth: []
      description: Crawl and index a website into the shared knowledge base starting
        from the provided URL
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - sharedKnowledgeBase
      summary: Upload website to shared knowledge base
      parameters:
        - type: string
          description: Knowledge base ID (UUID)
          name: id
          in: path
          required: true
        - description: Website payload
          name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.WebsiteUploa\
              dRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.MessageRespo\
              nse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /llm/models:
    get:
      security:
        - BearerAuth: []
      description: Returns models exposed by the LLM proxy, filtered by subscription plan
      produces:
        - application/json
      tags:
        - llm
      summary: List available LLM models
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.LLMModelsRes\
              ponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "502":
          description: Bad Gateway
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /models:
    get:
      security:
        - BearerAuth: []
      description: Get the list of available LLM models with their capabilities
      produces:
        - application/json
      tags:
        - models
      summary: List available models
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.LLMModel"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /public/oauth/token:
    post:
      description: Exchanges client credentials for an access token issued by Ory Hydra
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - apiKey
      summary: Generate access token
      parameters:
        - description: Client credentials request
          name: token
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.TokenRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.TokenRespons\
              e"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /schedules:
    get:
      security:
        - BearerAuth: []
      description: List all schedules for the current user
      produces:
        - application/json
      tags:
        - schedules
      summary: List schedules
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ScheduleList\
              Response"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    post:
      security:
        - BearerAuth: []
      description: Create a new chatbot schedule
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - schedules
      summary: Create a schedule
      parameters:
        - description: Schedule creation request
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.CreateSchedu\
              leRequest"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ScheduleResp\
              onse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /schedules/pending:
    get:
      security:
        - BearerAuth: []
      description: Get all executions pending approval for the current user
      produces:
        - application/json
      tags:
        - schedules
      summary: Get pending approvals
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.PendingAppro\
              valsResponse"
        "500":
          description: Internal Server Error
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
  /schedules/{id}:
    get:
      security:
        - BearerAuth: []
      description: Get a schedule by ID
      produces:
        - application/json
      tags:
        - schedules
      summary: Get a schedule
      parameters:
        - type: string
          description: Schedule ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ScheduleResp\
              onse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    put:
      security:
        - BearerAuth: []
      description: Update an existing schedule
      consumes:
        - application/json
      produces:
        - application/json
      tags:
        - schedules
      summary: Update a schedule
      parameters:
        - type: string
          description: Schedule ID
          name: id
          in: path
          required: true
        - description: Schedule update request
          name: request
          in: body
          required: true
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.UpdateSchedu\
              leRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.ScheduleResp\
              onse"
        "400":
          description: Bad Request
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
    delete:
      security:
        - BearerAuth: []
      description: Delete a schedule
      tags:
        - schedules
      summary: Delete a schedule
      parameters:
        - type: string
          description: Schedule ID
          name: id
          in: path
          required: true
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/github_com_yourusername_vectorchat_pkg_models.APIResponse"
[...]
